<link href="build/styles_core.css" rel="stylesheet" type="text/css"/>
<link href="build/styles.css" rel="stylesheet" type="text/css"/>

<div class="w115 h15" style="background-color: #00ee00">w115 h15</div>
space: <img class="space"><br>
space h15 w2: <img class="space h15 w2"><br>
space w200: <img class="space w200"><br>
img h30: <img class="h30"><br>
alt text, w20 h20: <img class="w20 h20" alt="custom alt"><br>
<a href="#">a tag</a><br>
<span class="b">bold</span> and <span class="i">italic</span>
<table>
    <tr>
        <td class="lh15 cs2 h20">TD lh15 cs2 h20</td>
    </tr>
</table>