$maxwidth: 600;
$maxheight: 500;

@for $i from 0 through $maxwidth {
  .w#{$i}, img.space.w#{$i} {
    width: #{$i}px;
  }
  img.w#{$i}, td.w#{$i}, img.space.w#{$i} {
    -attr-width: #{$i};
  }
}

@for $i from 0 through $maxheight {
  .h#{$i}, img.space.h#{$i} {
    height: #{$i}px;
  }
  img.h#{$i}, td.h#{$i}, img.space.h#{$i} {
    -attr-height: #{$i};
  }
  td.h#{$i} {
    line-height: #{$i}px;
  }
  img.h#{$i}, img.space.h#{$i} {
    min-height: #{$i}px;
    max-height: #{$i}px;
  }
}

@for $i from 0 through 50 {
  .lh#{$i} {
    line-height: #{$i}px;
  }
}

@for $i from 0 through 10 {
  .cs#{$i} {
    -attr-colspan: #{$i};
  }
}

table {
  border-collapse: collapse;
  -attr-border: 0;
  -attr-cellspacing: 0;
  -attr-cellpadding: 0;
}

a {
  -attr-target: _blank;
}

img {
  border: 0;
  display: block;
  -attr-border: 0;
  -attr-alt: "";
}

img.space {
  width: 1px;
  height: 1px;
  -attr-width: 1;
  -attr-height: 1;
  min-height: 1px;
  max-height: 1px;
}

.b {
  font-weight: bold;
}

.i {
  font-style: italic
}

td {
  -attr-valign: top;
  -attr-align: left;
}

